* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 14px;
    color: #1c1e21;
    font-weight: normal;
    background: #f0f2f5;
    /*background: #1c1e21;*/
}

.all {
    /*padding: 120px;*/
}

.container {
    padding-top: 120px;
    padding-bottom: 200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row {
    justify-content: space-around;
}

.left-side {
    max-width: 500px;
    padding-left: 30px;
    /*margin:0 auto;*/
    padding-top: 80px;
    margin-left: 450px;
}



.left-side h1 {
    font-size: 50px;
    color: #1877f2;
    margin-bottom: 10px;
    font-weight: 900;
}

.left-side h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 40px;
}

.right-side {
    max-width: 400px;
    /*margin:auto;*/
    text-align: center;
    margin-right: 400px;
}

.right-side form {
    width: 400px;
    height: 350px;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: -1px -1px 8px -1px rgba(232, 226, 226, 0.52);
    margin-bottom: 30px;
}

.right-side form input {
    width: 100%;
    height: 50px;
    font-size: 17px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 15px;
    margin-bottom: 15px;
}

.right-side form input:hover {
    border: 2px solid #1c1e21;
    background: #f0f2f5;
}

.btn {
    font-size: 20px;
    background: #1877f2;
    height: 50px;
    color: #fff;
    line-height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.login a {
    display: block;
}

.create-new-acc a {
    display: inline-block;
    margin-top: 20px;
    padding: 0 17px;
    background: #4cd137;
}


.forgot-pass {
    font-size: 14px;
    line-height: 19px;
    color: #1877f2;
}

.right-side p a:hover {
    /*text-decoration: underline;*/
}

.right-side p a {
    color: #1c1e21;
    font-weight: 600;
}
footer{
    background: #fff;
    /*padding-top: 30px;*/
    /*display: inline;*/
    /*padding: 0 5px;*/
    /*height: 229px;*/
}


.under{
    padding-top: 30px;
    /*max-heightpx;*/
    height: 230px;
}
.under ul li{
    display: inline;
    padding: 0 5px;
}
.under a, span{
    color: #737373;
    font-size: 12px;
}

.under-box{
    display: block;
    justify-content: space-around;
    width: 980px;
    margin-left: 500px;
}
.lang{
    margin: auto;

}
.curve{
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
    width: 980px;
    height: 8px;
}
.some{
    width: 1000px;
    height: 100px;
}
.some ul li{
    /*padding: 50px;*/
    padding-top: 20px;
    /*padding-bottom: 200px;*/
    /*margin-top: 200px;*/
    /*white-space: normal;*/
}
.some ul li a{
    color: #8a8d91;
}




